<%- model_class = User -%>
<div class="card-header card-header-primary d-flex <%= 'justify-content-lg-between' unless @modal %> align-items-center">
  <span></span>
  <h3 class='mb-0 font-weight-bold text-uppercase'>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </h3>
  <% unless @modal %>
    <div class="ml-auto d-none d-md-block">
      <div class="d-flex flex-row justify-content-start align-items-center">

        <%= link_to t('.back', :default => t("helpers.links.back")),
                      users_path, :class => 'btn btn-secondary' %>

        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(@user), :class => 'btn btn-primary' %>
    
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(@user),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
</div>
<div class="card-body">
  <% unless @modal %>
    <div class="ml-auto d-md-none">
      <div class="d-flex flex-row justify-content-start align-items-center ml-auto">
        <div class="row">
          <div class="col-4 mr-3">
            <%= link_to t('.back', :default => t("helpers.links.back")),
                          users_path, :class => 'btn btn-secondary mb-2' %>
          </div>
          <div class="col-4 ml-3">
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_user_path(@user), :class => 'btn btn-primary mb-2' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          user_path(@user),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger mb-2' %>
        </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row mt-4 mb-4">
    <div class="col-sm">
      <strong>
        <%= model_class.human_attribute_name(:name) %>:
      </strong>
      <%= @user.name %>
      <hr>

      <strong>
        <%= model_class.human_attribute_name(:username) %>:
      </strong>
      <%= @user.username %>
      <hr>

      <strong>
        <%= model_class.human_attribute_name(:email) %>:
      </strong>
      <%= @user.email %>
      <hr/>

      <strong>
        Tipo:
      </strong>
      <%= roles_humanize(@user.roles) %>
      <hr/>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
