<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :name %>
      <%= f.input :cpf, input_html: { class: 'cpf' } %>
      <%= f.input :image %>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', :back, class: 'btn btn-danger' %>
<% end %>
