<%- model_class = Client -%>
<%= search_form_for @q, url: clients_path, html: { class: 'form-horizonal d-print-none' } do |f| %>
  <h3>Busca</h3>
  <div class="row justify-content-md-center">
    <div class="col-4">
      <%= f.input :name_cont, label: "#{model_class.human_attribute_name(:name)} do Cliente", required: false %>
    </div>
    <div class="col-4">
      <%= f.input :cpf_cont, label: model_class.human_attribute_name(:cpf), input_html: { class: 'cpf' }, required: false %>
    </div>
    <div class="col-4">
      <%= f.input :status_eq, label: model_class.human_attribute_name(:status), as: :select, :collection => Client.statuses.map {|x| [t("enums.client.status.#{x[0]}"), x[1]]}.sort_by {|a,b| a }, :include_blank => "Todas", input_html: {class: 'select2'}, required: false %>
    </div>

    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Limpar', clients_path, class: 'btn btn-info ml-3' %>

  </div>
  <hr>
<% end %>
