<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :client_id, collection: Client.order(:name), prompt: "Escolha um cliente", input_html: { class: 'select2' }, selected: @client_id %>
      <%= f.input :product_id, collection: Product.order(:name), prompt: "Escolha um produto", input_html: { class: 'select2' } %>
      <%= f.input :cost, as: :string, input_html: { class: 'money' } %>
    </div>
    <div class="col-lg-6">
      <%= f.input :payday, as: :string, input_html: { class: 'date calendar' } %>
      <%= f.input :note, input_html: { class: '' } %>

    </div>
  </div>
  <hr>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Cancelar', orders_path, class: 'btn btn-danger' %>
<% end %>
