<td scope="row"><%= link_to order.id, order %></td>
<td><%= order.user.name %></td>
<td><%= link_to_modal order.client.try(:name), order.client %></td>
<td><%= order.product.name %></td>
<td><%= number_to_currency order.cost %></td>
<td class='<%= order.paid > 0 ? "text-danger" : "text-success" %>'><%= number_to_currency(order.paid.abs) %></td>
<td><%= order.payday %></td>
<td><%= label_status_order order.status %></td>
<td><%= order.note %></td>
<td>
  <% case order.status %>
  <% when "in_production" %>
    <%= link_to change_status_order_path(order.id, 'entregue'),
        class: 'btn btn-info', remote: true,
        data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
      Entregue
    <% end %>
  <% when "pending", "delivered", "ok" %>
    <% if order.status == 'ok' %>
      <%= link_to change_status_order_path(order.id, 'finalizar'),
        class: 'btn btn-success', remote: true,
        data: { confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
        Finalizar
      <% end %>
    <% end %>
    <%= link_to_modal_form "Pagar", pay_order_path(order), class: 'btn btn-warning' %>
  <% end %>
</td>