<%- model_class = Order -%>
<div class="card-header card-header-primary d-flex justify-content-lg-between align-items-center">
  <span></span>
  <h3 class='mb-0 font-weight-bold text-uppercase'>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </h3>
  <div class="ml-auto d-none d-md-block">
    <div class="d-flex flex-row justify-content-start align-items-center">
      <%= link_to t('.new', :default => t("helpers.links.new")), new_order_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="ml-auto d-md-none mb-4">
      <%= link_to t('.new', :default => t("helpers.links.new")), new_order_path, class: "btn btn-primary" %>
  </div>
  <%= render 'search' %>
  <%= paginate @orders if @orders.size > 20 %>
  <%= page_entries_info @orders, entry_name: 'item' %>
  <%= paginate @orders %>

  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col"><%= sort_link @q, :id, '#', default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :user_name, model_class.human_attribute_name(:user), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :client_name, model_class.human_attribute_name(:client), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :product_name, model_class.human_attribute_name(:product), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :cost, model_class.human_attribute_name(:cost), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :paid, model_class.human_attribute_name(:paid), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :payday, model_class.human_attribute_name(:payday), default_order: :desc %></th>
          <th scope="col"><%= sort_link @q, :status, model_class.human_attribute_name(:status), default_order: :desc %></th>
          <th scope="col"><%= model_class.human_attribute_name(:note) %></th>
          <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr id="order-item-<%= order.id %>">
            <%= render 'order_item', order: order %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @orders %>
</div>
