<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= favicon_link_tag asset_pack_path('media/image/favicon.png'), rel: 'icon' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700" rel="stylesheet">

    <title>Estofado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>

  </head>

  <body class="bg-light">
    <%= render 'layouts/navbar' %>
    <main role="main" class="container-fluid">
      <div class="my-3 p-3  rounded box-shadow ">
        <% flash.each do |name, msg| %>
          <% aux = 'alert-primary' %>
          <% case name
            when 'notice'
              aux = 'alert-primary'
            when 'success'
              aux = 'alert-success'
            when 'error'
              aux = 'alert-danger'
            when 'alert'
              aux = 'alert-warning'
            end
          %>
          <div id="alert" class="alert <%= aux %> text-center alert-dismissible fade show" role="alert">
            <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-inner--text">
              <strong>
                <%= msg %>
              </strong>
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <%#= content_tag(:div, msg, class: "alert #{aux} text-center") %>
        <% end %>
        <%= yield %>
      </div>
    </main>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
