<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= favicon_link_tag asset_pack_path('media/image/favicon.png'), rel: 'icon' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700" rel="stylesheet">

    <title>Estofado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>

    <div class="container ">
      <div class="row justify-content-md-center">
        <div class="col-md-5">
          <% if request.url.index(/teste.fabrica.nacionalservicos/) != nil %>
          <div class="alert alert-warning text-center">
            Área de teste. Todos os dados e ações tem efeito apenas de simulação
          </div>
        <% end %>
          <% flash.each do |name, msg| %>
            <div id="alert" class="alert alert-primary text-center alert-dismissible fade show" role="alert">
              <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
              <span class="alert-inner--text">
                <strong>
                  <%= msg %>
                </strong>
              </span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="top: 26%;right: 0.5rem;">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
          <div class="my-3 p-3 bg-white rounded box-shadow">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
